* {
    /* SANITIZE */
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: darkolivegreen;
    padding-left: 10vw;
    padding-right: 10vw;
}

main {
    background-color: whitesmoke;
    border: 1px solid darkolivegreen;
    width: auto;
    height: auto;
    padding: 5%;
}

header>h1 {
    color: olivedrab;
    margin-bottom: 3%;
}

header>h3 {
    color: olivedrab;
    margin-bottom: 3%;
}

nav {
    background-color: darkolivegreen;
    margin-bottom: 3%;
}

nav>ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

nav>ul>li {
    width: 100%;
    display: flex;
}

nav>ul>li>a {
    width: 100%;
    padding: 10%;
    color: whitesmoke;
    text-decoration: none;
    border: 1px solid darkolivegreen;
}

nav a:hover {
    background-color: whitesmoke;
    color: olivedrab;
}

main>section {
    display: flex;
}

main>section>article:first-child {
    padding-right: 3%;
}

main>section>article:first-child>ul {
    padding-left: 5vw;
    padding-bottom: 3%;
}

main>section>article:first-child h3 {
    padding-bottom: 3%;
    color: olivedrab;
}

main>section>article:first-child p {
    padding-bottom: 3%;
    color: olive;
    text-align: justify;
}

section>article:last-child {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}

section>article:last-child>aside {
    border: 2px dotted darkolivegreen;
    width: auto;
    padding: 5%;
    /* margin-bottom: 5%; */
}

section>article:last-child>aside:first-child>ul {
    padding-left: 20%;
    padding-bottom: 5%;
}

main>section>article:last-child h3 {
    padding-bottom: 5%;
    color: olivedrab;
}

main>section>article:last-child p {
    padding-bottom: 10%;
    color: olive;
    text-align: justify;
}

time {
    font-weight: bold;
    padding-right: 5%;
}

footer {
    background-color: darkolivegreen;
    width: auto;
    height: auto;
}

footer>section>p {
    color: whitesmoke;
    text-align: center;
    padding: 1%;
}

.left {
    width: 65%;
}

.right {
    width: 35%;
}