* {
    padding: 0%;
    margin: 0%;
    font-family: "JetBrains Mono";
}

body {
    background-color: rgb(175, 215, 240);
    /* padding: 2%; */
    /* padding-left: 2%; */
    /* padding-right: 2%; */
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    background-color: rgb(45, 120, 170);
    width: 100%;
    padding: 1%;
    padding-left: 5vw;
}

header article {
    display: flex;
    padding: 3% 5% 3% 5%;
    /* border-bottom: 2px solid rgb(45, 120, 170); */
    /* border-bottom: 2px dotted rgb(45, 120, 170); */
}

header figure {
    width: 20%;
}

header img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid rgba(45, 120, 170, 0.6);
    border-radius: 5px;
}

header aside {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h3 {
    width: 100%;
    text-align: center;
}

header nav {
    background-color: rgb(45, 120, 170);
    width: 100%;
    display: flex;
}

header ul {
    width: 100%;
    display: flex;
}

header li {
    width: 100%;
    display: flex;
}

header a {
    width: 100%;
    padding: 5%;
    text-decoration: none;
    text-align: center;
    color: rgb(226, 244, 255);
    border: 1px solid rgb(45, 120, 170);
}

header a:hover {
    background-color: rgb(175, 215, 240);
    color: rgb(45, 120, 170);
    border: 1px solid rgb(45, 120, 170);
}

.left h3 {
    width: 80%;
    border-bottom: 2px solid rgb(45, 120, 170);
    padding-bottom: 8px;
    font-size: 28px;
}

.right h3 {
    width: 80%;
    border-bottom: 2px solid rgb(45, 120, 170);
    padding-bottom: 8px;
    font-size: 28px;
}

.content {
    width: 100%;
    display: flex;
}

.left {
    width: 70%;
    padding: 3% 1vw 3% 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

#Works {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-title figure {
    width: 10%;
    padding-right: 3%;
}

.work-title img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid rgba(45, 120, 170, 0.6);
    border-radius: 5px;
}

.work-title h4 {
    width: 90%;
    height: fit-content;
    /* text-align: center; */
}

.work-content {
    /* padding-left: 5vw; */
}

.right {
    width: 30%;
    padding: 3% 5vw 3% 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.right ul {
    padding-left: 3vw;
}

#Skills {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
}


#Contacts a {
    text-decoration: none;
}

footer {
    background-color: rgb(45, 120, 170);
    color: rgb(226, 244, 255);
    width: 100%;
    text-align: center;
    padding: 1%;
}
